@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
  font-family: 'Merienda';
  font-size: 30px;
}
h2, h3{
  font-family: 'Roboto';
}
p{
  font-size: 120%;
}

.topnav {
  background-color: #E0B1CB;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-family: 'Merienda';
}

.wrapper {
  /* Make the display flex, flow should be row and wrap, and align the text centered */
  display: flex;
  flex direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.wrapper > * {
  /* padding & margin should be 10px all around*/
  padding: 15px;
  margin: 15px;
  /* flex grow will be set to 1 and shrink 100% USE SHORTHAND */
  flex: 1 100%;
  /* round the edges of the divs using border radius */
  border-radius: 30px;
}

.header{
  background-color: pink;
  box-shadow: 10px 10px 5px grey;
}

.letstrythis{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.currentprojects{
  background-color: #FEEAFA;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 10px 10px 5px grey;
}

.pastprojects{
  background-color: #CBC0D3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: 10px 10px 5px grey;
}

.contactme{
  background-color: lavender;
  box-shadow: 10px 10px 5px grey;
}

.moreaboutme{
  background-color: #DEE2FF;
  box-shadow: 10px 10px 5px grey;
}

.educationbox{
  display: flex;
  flex-flow: column wrap;
  background-color: #FFC8DD;
  box-shadow: 10px 10px 5px grey;
}

.pythonbox{
  display: flex;
  flex-flow: column wrap;
  background-color: #CDB4DB;
  box-shadow: 10px 10px 5px grey;
}

.webdesignbox{
  display: flex;
  flex-flow: column wrap;
  background-color: #5E548E;
  box-shadow: 10px 10px 5px grey;
}

@media all and (min-width: 700px){
  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 10px;
    padding: 50px;
    padding-top: 10px;
    }

    .currentprojects, .pastprojects{
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
    }

    .turkeyproject{
      padding-right: 20px;
    }


  .letstrythis{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 10px;
    }
  .pictureofme{
    padding-right: 20px;
  }

  .contactme{
    padding: 10px;
  }
}
